# Model

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

Populating the interactive namespace from numpy and matplotlib

In [2]:
df = pd.read_pickle('dataframe.pkl')

In [3]:
df.head()

,population,growth,households,median_age,per_cap_income,hh_income,labor_force,unempl_rate,poverty_rate,hs_rate,college_rate,close_elect
0,55504.0,1.7,20800.0,37.8,39721.0,54487.0,25909.0,3.9,13.5,87.6,24.6,0
1,212628.0,16.7,75149.0,42.3,41286.0,56460.0,91567.0,4.0,11.7,90.0,29.5,0
2,25270.0,-8.0,9122.0,38.7,31788.0,32884.0,8236.0,5.9,29.9,73.8,12.9,1
3,22668.0,-1.1,7048.0,40.2,29264.0,43079.0,8506.0,4.4,20.1,80.7,12.0,0
4,58013.0,1.2,20619.0,40.8,31470.0,47213.0,24494.0,4.0,14.1,80.0,13.0,0

In [4]:
# drop rows with nans

df = df.dropna()

In [5]:
# inspect mean values of features for not-close vs close outcomes

df.groupby('close_elect').mean()

,population,growth,households,median_age,per_cap_income,hh_income,labor_force,unempl_rate,poverty_rate,hs_rate,college_rate
close_elect,,,,,,,,,,,
0,96130.213511,0.654778,34849.730837,41.203920,40616.088554,49092.827791,47259.882744,4.601295,15.904970,85.634162,20.188939
1,200647.364865,2.259009,71924.959459,39.253604,42160.738739,53460.472973,100270.324324,4.683333,15.774775,87.963514,26.509910

In [83]:
# null model accuracy - guess '0' every time

(df['close_elect'] == 0).sum() / len(df)

0.9278986683988308

## PCA