# Election Data
Collected from Tony McGovern GitHub page.

In [1]:
import pandas as pd
import numpy as np

In [2]:
# import 2016 election results by county

df_election = pd.read_csv('2016_US_County_Level_Presidential_Results.csv')

In [3]:
df_election.rename(columns={'combined_fips': 'code'}, inplace=True)

In [4]:
df_election.head()

,Unnamed: 0,votes_dem,votes_gop,total_votes,per_dem,per_gop,diff,per_point_diff,state_abbr,county_name,code
0,0,93003.0,130413.0,246588.0,0.377159,0.52887,"37,410",15.17%,AK,Alaska,2013
1,1,93003.0,130413.0,246588.0,0.377159,0.52887,"37,410",15.17%,AK,Alaska,2016
2,2,93003.0,130413.0,246588.0,0.377159,0.52887,"37,410",15.17%,AK,Alaska,2020
3,3,93003.0,130413.0,246588.0,0.377159,0.52887,"37,410",15.17%,AK,Alaska,2050
4,4,93003.0,130413.0,246588.0,0.377159,0.52887,"37,410",15.17%,AK,Alaska,2060

In [5]:
# import county data

df_county_data = pd.read_csv('county_out_2.csv')

In [6]:
df_county_data.head()

,Unnamed: 0,code,Name,State,population,land_area,growth,households,median_age,hisp_pop,white_pop,per_cap_income,hh_income,labor_force,unempl_rate,poverty_rate,hs_rate,college_rate
0,0,1001,Autauga,AL,55504.0,594.44,1.7,20800.0,37.8,1416.0,42311.0,39721.0,54487.0,25909.0,3.9,13.5,87.6,24.6
1,1,1003,Baldwin,AL,212628.0,1589.78,16.7,75149.0,42.3,8712.0,172441.0,41286.0,56460.0,91567.0,4.0,11.7,90.0,29.5
2,2,1005,Barbour,AL,25270.0,884.88,-8.0,9122.0,38.7,1147.0,12430.0,31788.0,32884.0,8236.0,5.9,29.9,73.8,12.9
3,3,1007,Bibb,AL,22668.0,622.58,-1.1,7048.0,40.2,502.0,17370.0,29264.0,43079.0,8506.0,4.4,20.1,80.7,12.0
4,4,1009,Blount,AL,58013.0,644.78,1.2,20619.0,40.8,5036.0,55073.0,31470.0,47213.0,24494.0,4.0,14.1,80.0,13.0

In [7]:
df = pd.merge(df_county_data, df_election, on='code', how='left')

In [8]:
df.columns

Index(['Unnamed: 0_x', 'code', 'Name', 'State', 'population', 'land_area',
       'growth', 'households', 'median_age', 'hisp_pop', 'white_pop',
       'per_cap_income', 'hh_income', 'labor_force', 'unempl_rate',
       'poverty_rate', 'hs_rate', 'college_rate', 'Unnamed: 0_y', 'votes_dem',
       'votes_gop', 'total_votes', 'per_dem', 'per_gop', 'diff',
       'per_point_diff', 'state_abbr', 'county_name'],
      dtype='object')

In [9]:
df.drop(['Unnamed: 0_x', 'Unnamed: 0_y'], axis=1, inplace=True)

In [11]:
df.head()

,code,Name,State,population,land_area,growth,households,median_age,hisp_pop,white_pop,...,college_rate,votes_dem,votes_gop,total_votes,per_dem,per_gop,diff,per_point_diff,state_abbr,county_name
0,1001,Autauga,AL,55504.0,594.44,1.7,20800.0,37.8,1416.0,42311.0,...,24.6,5908.0,18110.0,24661.0,0.239569,0.734358,"12,202",49.48%,AL,Autauga County
1,1003,Baldwin,AL,212628.0,1589.78,16.7,75149.0,42.3,8712.0,172441.0,...,29.5,18409.0,72780.0,94090.0,0.195653,0.773515,"54,371",57.79%,AL,Baldwin County
2,1005,Barbour,AL,25270.0,884.88,-8.0,9122.0,38.7,1147.0,12430.0,...,12.9,4848.0,5431.0,10390.0,0.466603,0.522714,583,5.61%,AL,Barbour County
3,1007,Bibb,AL,22668.0,622.58,-1.1,7048.0,40.2,502.0,17370.0,...,12.0,1874.0,6733.0,8748.0,0.214220,0.769662,"4,859",55.54%,AL,Bibb County
4,1009,Blount,AL,58013.0,644.78,1.2,20619.0,40.8,5036.0,55073.0,...,13.0,2150.0,22808.0,25384.0,0.084699,0.898519,"20,658",81.38%,AL,Blount County

In [12]:
# define function to reformat rate values

def clean_rate(rate_str):
    try:
        return float(str(rate_str).replace('%', ''))
    except:
        pass

In [13]:
# define function to reformat monetary and count values

def clean_num(num_str):
    try:
        return int(str(num_str).replace(',',''))
    except:
        pass

In [14]:
df['diff'] = df['diff'].apply(clean_num)
df['per_point_diff'] = df['per_point_diff'].apply(clean_rate)

In [15]:
df.head()

,code,Name,State,population,land_area,growth,households,median_age,hisp_pop,white_pop,...,college_rate,votes_dem,votes_gop,total_votes,per_dem,per_gop,diff,per_point_diff,state_abbr,county_name
0,1001,Autauga,AL,55504.0,594.44,1.7,20800.0,37.8,1416.0,42311.0,...,24.6,5908.0,18110.0,24661.0,0.239569,0.734358,12202.0,49.48,AL,Autauga County
1,1003,Baldwin,AL,212628.0,1589.78,16.7,75149.0,42.3,8712.0,172441.0,...,29.5,18409.0,72780.0,94090.0,0.195653,0.773515,54371.0,57.79,AL,Baldwin County
2,1005,Barbour,AL,25270.0,884.88,-8.0,9122.0,38.7,1147.0,12430.0,...,12.9,4848.0,5431.0,10390.0,0.466603,0.522714,583.0,5.61,AL,Barbour County
3,1007,Bibb,AL,22668.0,622.58,-1.1,7048.0,40.2,502.0,17370.0,...,12.0,1874.0,6733.0,8748.0,0.214220,0.769662,4859.0,55.54,AL,Bibb County
4,1009,Blount,AL,58013.0,644.78,1.2,20619.0,40.8,5036.0,55073.0,...,13.0,2150.0,22808.0,25384.0,0.084699,0.898519,20658.0,81.38,AL,Blount County

In [15]:
df.head()

,code,Name,State,population,growth,households,median_age,per_cap_income,hh_income,labor_force,...,college_rate,votes_dem,votes_gop,total_votes,per_dem,per_gop,diff,per_point_diff,state_abbr,county_name
0,1001,Autauga,AL,55504.0,1.7,20800.0,37.8,39721.0,54487.0,25909.0,...,24.6,5908.0,18110.0,24661.0,0.239569,0.734358,12202.0,49.48,AL,Autauga County
1,1003,Baldwin,AL,212628.0,16.7,75149.0,42.3,41286.0,56460.0,91567.0,...,29.5,18409.0,72780.0,94090.0,0.195653,0.773515,54371.0,57.79,AL,Baldwin County
2,1005,Barbour,AL,25270.0,-8.0,9122.0,38.7,31788.0,32884.0,8236.0,...,12.9,4848.0,5431.0,10390.0,0.466603,0.522714,583.0,5.61,AL,Barbour County
3,1007,Bibb,AL,22668.0,-1.1,7048.0,40.2,29264.0,43079.0,8506.0,...,12.0,1874.0,6733.0,8748.0,0.214220,0.769662,4859.0,55.54,AL,Bibb County
4,1009,Blount,AL,58013.0,1.2,20619.0,40.8,31470.0,47213.0,24494.0,...,13.0,2150.0,22808.0,25384.0,0.084699,0.898519,20658.0,81.38,AL,Blount County

In [16]:
# output file for EDA

df.to_csv('county_election_data_2.csv')